<footer class="footer">
  <div class="footer-sponsors">
    <img src="static/media/creating_the_future_sponsor_logos/aramco_americas.png" alt="Aramco Americas">
    <img src="static/media/creating_the_future_sponsor_logos/CTECH_manufacturing_9-14-2025.png" alt="CTECH Manufacturing">
    <img src="static/media/creating_the_future_sponsor_logos/GAMMA_technologies_2025_FSAE.png" alt="Gamma Technologies">
    <img src="static/media/creating_the_future_sponsor_logos/gm.jpg" alt="GM">
    <img src="static/media/creating_the_future_sponsor_logos/rapidharness.png" alt="Rapid Harness">
  </div>
  <div class="footer-content">
    <div class="footer-section">
      <p>1400 Townsend Dr, Houghton, MI 49931</p>
    </div>
    <div class="footer-section">
      <div class="social-icons">
        <a href="https://www.instagram.com/supermileagemtu/" target="_blank"><img src="static/media/footer_logos/instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/company/mtu-supermileage-systems/?viewAsMember=true" target="_blank"><img src="static/media/footer_logos/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.facebook.com/people/Supermileage-Systems-Enterprise/100040905235209/" target="_blank"><img src="static/media/footer_logos/facebook.png" alt="Facebook"></a>
        <a href="http://tiktok.com/@supermileage_mtu" target="_blank"><img src="static/media/footer_logos/tik-tok.png" alt="TikTok"></a>
        <a href="https://www.flickr.com/photos/200593887@N06/" target="_blank"><img src="static/media/footer_logos/flickr.png" alt="Flickr"></a>
      </div>
    </div>
    <div class="footer-section">
      <p>Email us at <a href="mailto:smileage@mtu.edu">smileage@mtu.edu</a></p>
    </div>
  </div>
</footer>
