<section id="members">
  <h2 style="text-align: center;">Current Members</h2>
  <table class="team-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Major</th>
        <th>Sub-Team</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>johndoe@example.com</td>
        <td>Mechanical Engineering</td>
        <td>Body</td>
      </tr>
      <tr>
        <td>Jane Smith</td>
        <td>janesmith@example.com</td>
        <td>Electrical Engineering</td>
        <td>Electrical</td>
      </tr>
      <tr>
        <td>Peter Jones</td>
        <td>peterjones@example.com</td>
        <td>Computer Science</td>
        <td>Engine</td>
      </tr>
    </tbody>
  </table>
</section>
